# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
output/

# Environments
gql-generator-env/**
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/